@model MRTOnlineTicketingSystem.Models.MRTTicket
<head>
    <title>Summary</title>
    <style>
        label {
            width: 200px;
            float: left;
        }
    </style>
</head>
<body>
    <h1>Ticket Summary</h1>

    @if (ViewBag.Message != null)
    {
        <p class="text-left alert-success">@ViewBag.Message</p>
    }
    <br />
    <h3>Station</h3>
    <p>
        <label>@Html.DisplayNameFor(x => x.PurchaseDateTime) </label>:
        @Html.DisplayFor(x => x.PurchaseDateTime)
    </p>
    <div class="row">
        <p class="col-md-4">
            <label>@Html.DisplayNameFor(x => x.CurrentLocationIndex)</label>:
            @Html.DisplayFor(x => x.DictStation[Model.CurrentLocationIndex])
        </p>
    </div>

    <div class="row">

        <p class="col-md-4">
            <label>@Html.DisplayNameFor(x => x.DestinationLocationIndex)</label>:
            @Html.DisplayFor(x => x.DictStation[Model.DestinationLocationIndex])
        </p>
    </div>
    <div class="row">

        <p class="col-md-4">
            <label>@Html.DisplayNameFor(x => x.TicketIndex)</label>:
            @Html.DisplayFor(x => x.DictTicketType[Model.TicketIndex])
        </p>
    </div>
    <h3>Ticket Quantity</h3>
    <div class="row">
        <p class="col-md-4">
            <label>@Html.DisplayNameFor(x => x.Adult)</label>:
            @Html.DisplayFor(x => x.Adult)
        </p>
    </div>
    <div class="row">
        <p class="col-md-4">
            <label>@Html.DisplayNameFor(x => x.SeniorCitizen)</label>:
            @Html.DisplayFor(x => x.SeniorCitizen)
        </p>
    </div>
    <div class="row">
        <p class="col-md-4">
            <label>@Html.DisplayNameFor(x => x.Disable)</label>:
            @Html.DisplayFor(x => x.Disable)
        </p>
    </div>
    <h3>Price</h3>
    <div class="row">
        <p class="col-md-4">
            <label>@Html.DisplayNameFor(x => x.TotalAmount)</label>:
            @Html.DisplayFor(x => x.TotalAmount)
        </p>
    </div>

    
    <p>
        @Html.ActionLink("Back to User Dashboard", "UserDashboard")


    </p>

</body>